*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background: url("./images/bg-mobile.svg") no-repeat top;
  background-color: hsl(257, 40%, 49%);
  color: white;
}

h1 {
  font-family: "Poppins", sans-serif;
  padding: 1em;
}
p {
  line-height: 1.8;
  padding: 0.8em;
  font-size: 1.2rem;
}

.wrapper {
  width: 45%;
  margin: 0 auto;
}

.text a {
  color: hsl(300, 69%, 71%);
  font-size: 16px;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  background: #fff;
  padding: 10px 70px;
  border-radius: 25px;
  text-decoration: none;
  box-shadow: 0 8px 17px -8px rgba(0, 0, 0, 0.8);
}

.text a:hover {
  background-color: hsl(300, 69%, 71%);
  color: white;
}

img {
  max-width: 80%;
}
.main-img {
  margin-bottom: 1em;
}
.logo {
  width: 40%;
  padding: 2em;
}
.main-sec {
  text-align: center;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 2em;
}
footer img {
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
}

footer img:hover {
  background-color: hsl(257, 40%, 49%);
}

@media (min-width: 775px) {
  body {
    background: url("./images/bg-desktop.svg") no-repeat top;
    background-color: hsl(257, 40%, 49%);
  }

  .main-sec {
    display: flex;
  }
  .wrapper {
    margin: 10px;
    width: 100%;
  }
  .text a {
    padding: 13px 50px;
  }
  .main-sec {
    text-align: start;
  }
  .logo {
    width: 20%;
    margin-left: 50px;
  }
  .text {
    margin-left: 10px;
  }
  .main-img {
    margin-left: 50px;
  }
  footer {
    display: flex;
    justify-content: flex-end;
  }
}
